env:
  - S3_CFN_TEMPLATES=ansible-cfn/templates
  - LATEST_COMMIT=$(git rev-parse HEAD)
  - CFN_TEMPLATES_COMMIT=$(git log -1 --format=format:%H --full-diff cfn/templates)

jobs:
  include:
    - stage: update cfn templates
      if: env(LATEST_COMMIT) = env(CFN_TEMPLATES_COMMIT)
      install:
        - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
        - unzip awscliv2.zip > /dev/null
        - sudo ./aws/install
      script:
        - aws s3 cp cfn/templates/* s3://${S3_CFN_TEMPLATES}

    - stage: create network
      language: python
      python:
        - 3.7
      env:
        - TEMPLATE_URL=https://s3.amazonaws.com/${S3_CFN_TEMPLATES}/network.template
        - AWS_REGION=eu-central-1
        - TAG_ENVIRONMENT=ansible-cfn
        - VPC_CIDR=10.0.0.0/24
        - PUBLIC_SUBNET_1_CIDR=10.0.0.0/28
        - PUBLIC_SUBNET_2_CIDR=10.0.0.16/28
        - PRIVATE_SUBNET_1_CIDR=10.0.0.32/28
        - PRIVATE_SUBNET_2_CIDR=10.0.0.48/28
      before_install:
        - cd ansible
      install:
        - pip install -r requirements.txt -q
      script:
        - ansible-playbook -i inventories/aws_ec2.yml playbooks/10_cfn_network.yml --tags create -vvv
