language: python
python:
  - '3.6'

before_install:
  - pip install -r requirements.txt -q
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip > /dev/null
  - sudo ./aws/install

jobs:
  include:
    - stage: update-infrastructure
      name: upload-cfn-templates
      script: scripts/upload_templates.sh
    - name: create-cfn-stacks
      script: scripts/create_stacks.sh
